@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap');

.titleContainer{
    padding: 20px;
    margin:10px;
    font-family: 'Encode Sans SC', sans-serif;
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/disco-dba865f1.png");
   background-color: transparent;
   background-position: inherit;
}

